<p>gaka</p>

<div class="form-group">
  <label>Name Card</label> <textarea class="form-control" rows="4" disabled> {{ card }} </textarea>
</div>

<br>
<div class="card bg-secondary">
  <h1><b><a href="https://yoochan1012.github.io/Vlog_n/new.html">내 사이트</a></b></h1>
</div>
<br>
<p><a href="../../../../app-debug.apk" type="application/vnd.android.package-archive">앱 다운로드</a></p>
<br>
<div classs="card bg-info">
  <h1><b>프로젝트</b></h1>
  <p>제목: 함께 가는 우주(Cosmos)여행<br>
    사용할 요소: Angular, MongoDB, nodeJS, Express<br>
    넣고 싶을 것: 행성 관련 정보, 기타 천체 관련 정보, 자유 게시판<br>
    향후, 장기적으로, 나중에 더 넣고 싶을 것: 행성 관련 상세 정보, 로그인 방법 다양화, 디자인 꾸미기 등<br>
    팀원: 나 자신<br>
    링크: (임시) planet-gaka.herokuapp.com
  </p>
</div>