<h1>This is the Page</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">항목</th>
        <th scope="col">상세정보</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>최유찬</td>
      </tr>
      <tr>
        <th scope="row">BD</th>
        <td>1999.10.12</td>
      </tr>
      <tr>
        <th scope="row">Favorites</th>
        <td>Map, Baseball, Football</td>
      </tr>
      <!-- 분리예정 <tr>
        <th scope="row">Project</th>
        <td>Solar Planets<br>
        프로젝트 보려면 <a routerLink = "/dashboard"> 여기를 클릭</a> </td>
      </tr> -->
    </tbody>
  </table>
  <p><img ng-src = "../../../../Planets2008K.jpg" width="1000" height="500" alt=""></p>
  <div id="map" style="width:100%;height:350px;"></div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=발급받은 APP KEY를 사용하세요"></script>
  <script>
    var mapContainer = document.getElementById('map'),
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), 
        level: 3
    };
  </script>
  


<!-- 분리예정 <div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">함께 가는 우주(COSMOS) 여행</h5>
    <p class="card-text">태양계의 각 행성 관련 정보 삽입</p><br>
    <a routerLink="/dashboard" class="btn btn-primary">페이지 보기</a>
  </div>
</div><br><br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">이용안내</h1>
    <p class="lead">1. 우선 <a routerLink = "/login">로그인</a> 하세요<br>
    2. 행성과 각 천체에 관한 정보를 열람할 수 있습니다.<br>
    3. 댓글, 게시판 본문 작성도 됩니다.</p>
  </div> -->